extends ../layouts/application.pug

block content
  a(href=route('newStatus'))= t('views.statuses.create')
  table.table.table-striped
    thead
      tr
        th= t('views.statuses.id')
        th= t('views.statuses.name')
        th= t('views.statuses.createdAt')
        th
    tbody
      each status in statuses
        tr
          td= status.id
          td= status.name
          td= formatDate(status.createdAt)
          td
            a(href=`/statuses/${status.id}/edit`)= t('views.statuses.edit.submit')
            +buttonTo(`/statuses/${status.id}`, 'delete')(class="btn btn-link" value=t('views.statuses.delete.submit'))
