extends ../layouts/application.pug

block content
  a(href=route('newLabel'))= t('views.labels.create')
  table.table.table-striped
    thead
      tr
        th= t('views.labels.id')
        th= t('views.labels.name')
        th= t('views.labels.createdAt')
        th
    tbody
      each label in labels
        tr
          td= label.id
          td= label.name
          td= formatDate(label.createdAt)
          td
            a(href=`/labels/${label.id}/edit`)= t('views.labels.edit.submit')
            +buttonTo(`/labels/${label.id}`, 'delete')(class="btn btn-link" value=t('views.labels.delete.submit'))
