extends ../layouts/application.pug

block content
  a(class='nav-link' href=route('newTask'))= t('views.tasks.create')
  .card-body.p-2.bg-light
    +formFor()(action=route('tasks') method='get')
      .row
        +filterSelect(statuses, 'statusId', 'status', params)
        +filterSelect(users, 'executorId', 'executor', params)
        +filterSelect(labels, 'label', 'label', params)
              
      .mb-3.form-check
        +checkbox('isCreatorUser', params)
      +submit()(value= t('views.tasks.filter.show'))
      
  table.table.table-striped
    thead
      tr
        th= t('views.tasks.id')
        th= t('views.tasks.name')
        th= t('views.tasks.statusId')
        th= t('views.tasks.author')
        th= t('views.tasks.executorId')
        th= t('views.tasks.createdAt')
        th
    tbody
      each task in tasks
        tr
          td= task.id
          td
            a(href=`/tasks/${task.id}`)= task.name
          td= _.find(statuses, { id: task.statusId }).name

          - const getFullName = (user) => `${user.firstName} ${user.lastName}`;

          td= getFullName(_.find(users, { id: task.creatorId }))
          td= !task.executorId ? '' : getFullName(_.find(users, { id: task.executorId }))
          td= formatDate(task.createdAt)
          td
            a(href=`/tasks/${task.id}/edit`)= t('views.tasks.edit.submit')
            +buttonTo(`/tasks/${task.id}`, 'delete')(class="btn btn-link" value=t('views.tasks.delete.submit'))