extends ../layouts/application.pug

block content
  h1.my-4
  .card
    .card-header.bg-secondary.text-white
      h2= task.name
    .card-body.bg-light
      p= task.description
      hr
      .container
        .row.p-1
          .col= t('views.tasks.author')
          .col= `${task.creator.firstName} ${task.creator.lastName}`
        .row.p-1
          .col= t('views.tasks.executorId')
          .col= task.executor ? `${task.executor.firstName} ${task.executor.lastName}` :  ''
        .row.p-1
          .col= t('views.tasks.statusId')
          .col= task.status.name
        .row.p-1
          .col= t('views.tasks.createdAt')
          .col= formatDate(task.createdAt)
        .row.p-1
          .col
            h6= t('views.tasks.filter.labels')
            +list(task.labels)
        .row.p-1
          .col
            a(href=`/tasks/${task.id}/edit`)= t('views.tasks.edit.submit')
            +buttonTo(`/tasks/${task.id}`, 'delete')(class="btn btn-link" value=t('views.tasks.delete.submit'))